@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../font/Rubik-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
body{
    font-family: "NotoSans";
    font-weight: 400;
    font-style: normal;
    color: #090F24;
}
header, nav, main, footer{
    width: 100%;
}
a{
    color: #090F24;
    text-decoration: none;
    cursor: pointer;
}
.wrapper {
    width: 1116px;
    margin: 0 auto;
    height: inherit;
}
.blue{
    background: #74CCD8;
    color: #fff;
}
.white{
    background-color: #fff;
}
.pink{
    background: #ED9BC1;
}
header{
    padding: 10px 0;
    font-size: 13px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
}
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-nav li a{
    padding: 0 9px;
}
.page-nav li a:hover{
    text-decoration: underline;
}
.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-contacts li:nth-child(2){
    padding: 0 40px;
}
.header-contacts li:last-child a:first-child{
    margin-right: 0.8em;
}
#lang-ru{
    color: #B7B8C5;
}
#lang-lv{
    text-decoration: underline;
    text-decoration-color: #74CCD8;
    text-underline-offset: 4px;
    margin-bottom: 10px;
}
.header-contacts li p{
    float: right;
    margin-left: 0.5em;
    font-weight: 500;
}

/* Меню навигации */

nav{
    background-color: #F4F5F9;
    outline: 1px solid  #E4E7EE;
    height: 70px;
    user-select: none;
    position: relative;
    box-sizing: border-box;
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Каталог и кнопка его открытия */
.nav-burger {
    width: 356px;
    box-sizing: border-box;
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid  #E4E7EE;
    border-bottom: 0;
    border-top: 0;
    padding: 0 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-burger p{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4em;
}
.nav-burger p span{
    font-size: 1.3em;
}
#catalog{
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}
.category{
    border: 1px solid #74CCD8;
    height: inherit;
}
.category-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 55px;
    width: 356px;
    border: 1px solid #74CCD8;
    cursor: pointer;
}
.category-item:last-child{
    border-radius:  0 0 10px 10px;
}
.category-item p{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #090F24;
}
.category-item p img{
    margin-right: 10px;
}
/* второй блок навигации */
/* строка поиска */
.nav-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 24px;
}
.nav__search {
    flex: 1;
    height: 42px;
    max-width: 490px;
    background-color: #fff;
    border: 1px solid #B7B8C5;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.nav__search label{
    height: inherit;
    box-sizing: border-box;
    width: 100%;
}
.nav__search label input{
    line-height: 42px;
    width: inherit;
}
.nav__search label img{
    margin-left: 15px;
}
.nav__search button{
    height: inherit;
    cursor: pointer;
}



/* кнопки для доступа к данным пользователя */
.nav__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner, .banners-main{
    background-color: #929191;
}
.banners-main {
    width: 100%;
    height: 100%;
    grid-row: 1/3;
}
.banners-side{
    width: 100%;
    height: 100%;
    background-color: #000;
}
.banners-wrap{
    height: 380px;
    display: grid;
    grid-template-columns: 11fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}