@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../font/Rubik-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
body{
    font-family: "NotoSans";
    font-weight: 400;
    font-style: normal;
    color: #090F24;
}
header, nav, main, footer{
    width: 100%;
}
a{
    color: #090F24;
    text-decoration: none;
    cursor: pointer;
}
/* img{
    width: 100%;
    height: 100%;
} */
.wrapper {
    width: 1116px;
    margin: 0 auto;
    height: inherit;
}
.blue{
    background: #74CCD8;
    color: #fff;
}
.white{
    background-color: #fff;
}
.pink{
    background: #ED9BC1;
    color: #fff;
}
header{
    padding: 10px 0;
    font-size: 13px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
}
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-nav li a{
    padding: 0 9px;
}
.page-nav li a:hover{
    text-decoration: underline;
}
.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-contacts li{
    display: flex;
    gap: 0.8em;
    align-items: center;
}
.header-contacts li p{
    font-weight: 500;
}
.header-contacts__phone{
    width: 16px;
}
.header-contacts__mail{
    width: 20px;
}
.header-contacts li:nth-child(2){
    padding: 0 40px;
}
.header-contacts li:last-child a:first-child{
    margin-right: 0.8em;
}
#lang-ru{
    color: #B7B8C5;
}
#lang-lv{
    text-decoration: underline;
    text-decoration-color: #74CCD8;
    text-underline-offset: 4px;
}

/* Меню навигации */

nav{
    background-color: #F4F5F9;
    outline: 1px solid  #E4E7EE;
    height: 70px;
    user-select: none;
    position: relative;
    box-sizing: border-box;
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Каталог и кнопка его открытия */
.nav-burger {
    width: 356px;
    box-sizing: border-box;
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid  #E4E7EE;
    border-bottom: 0;
    border-top: 0;
    padding: 0 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-burger p{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4em;
}
.nav-burger p span{
    font-size: 1.3em;
}
#catalog{
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}
.category{
    border: 1px solid #74CCD8;
    height: inherit;
}
.category-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 55px;
    width: 356px;
    border: 1px solid #74CCD8;
    cursor: pointer;
}
.category-item:last-child{
    border-radius:  0 0 10px 10px;
}
.category-item p{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #090F24;
}
.category-item p img{
    margin-right: 10px;
}
/* второй блок навигации */
/* строка поиска */
.nav-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 24px;
}
.nav__search {
    flex: 1;
    height: 42px;
    max-width: 490px;
    background-color: #fff;
    border: 1px solid #B7B8C5;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.nav__search label{
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__search label input{
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    font-weight: 400;
    font-size: 15px;
    outline: none;
}
.nav__search label input:focus{
    border: none;
}
.nav__search label input::placeholder{
    font-weight: 400;
    font-size: 15px;
    color: #B7B8C5;
}
.nav__search label img{
    margin: 0 15px;
    width: 1.2em;
    height: 1.2em;
}
.nav__search button{
    height: inherit;
    cursor: pointer;
    width: 95px;
    font-weight: 500;
}
/* кнопки для доступа к данным пользователя */
.nav__user {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    margin-left: 30px;
}
.user-account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
.user-account__sign{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#signIn{
    font-weight: 400;
    font-size: 13px;
    color: #B7B8C5;
}
#signUp{
    font-weight: 600;
    font-size: 14px;
    color: #090F24;
}
#signUp img{
    width: 0.8em;
}
.user-icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.user-icon a span{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 10px;
}
/* приветсвенные баннеры */

.banners{
    margin-top: 20px;
}
.banners-wrap{
    height: 380px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.banners-main {
    max-width: 746px;
    height: 380px;
}
.banners-side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.banner img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

/* доп баннеры */

.photo-ban{
    margin-top: 20px;
    padding:  40px 0;
    background: #F4F5F9;
}
.photo-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.arrow{
    cursor: pointer;
}
.photo-slide__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 185px;
}
.photo-slide__list li{
    max-width: 24.5%;
    height: 100%;
}
/* О нас */
.about{
    padding: 40px 0;
}
.about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.about-wrap section{
    display: flex;
    align-items: center;
}
.about-img {
    height: 50px;
    margin-right: 15px;
}
.about-text {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #090F24;
}
/* блок с ассортиментом */
.wideass{
    background-color: #F4F5F9;
    padding: 65px 0;
    text-align: center;
}
.wideass-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.wideass-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 166px;
    gap: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
    cursor: pointer;
    padding: 23px 0;
}
.wideass-item:hover{
    background: #74CCD8;
    box-shadow: 0px 2px 4px rgba(51, 196, 223, 0.5);
}
.wideass-item:hover .wideass-text{
    color: #fff;
}
.wideass-img{
    width: 83px;
    height: 83px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
}
.wideass-img img{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
.wideass-text{
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #090F24;
}
.wideass-item:last-child img{
    bottom: 0;
    left: 10px;
    transform: translateX(0);
}